body {
    background-color: rgb(237, 240, 238);
}

#main .card {
    text-align: center;
    font-size: 26px;
    margin: 0 auto; 
    float: none; 
    /* margin-bottom: 10px;  */
    height: 650px;
    width: 500px; 
}

.input-group {
    font-size: 14px;
    margin-top: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    text-align: center;
    border: 1px solid rgb(91, 192, 222);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

input:focus {
    outline:none;
}

.loadamount {
    margin-left: 65px;
}

p {
    margin-top: 150px;
}



